<div class="page-body">
  <h2 class="mat-h2">Vehicles</h2>
  <a *ngIf="authService.isLoggedIn && (authService.user.role === 'ADMIN')" mat-raised-button routerLink="/vehicles/new" class="mat-primary">Add new vehicle</a>

  <mat-table #table [dataSource]="vehicles">
    <ng-container matColumnDef="licensePlateNr">
      <mat-header-cell *matHeaderCellDef> License plate number</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.licensePlateNr}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manufacturer">
      <mat-header-cell *matHeaderCellDef> Manufacturer</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.manufacturer}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="manufactureDate">
      <mat-header-cell *matHeaderCellDef> Manufacturing Date</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.manufactureDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="costPerDay">
      <mat-header-cell *matHeaderCellDef> Cost/Day</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.costPerDay}}</mat-cell>
    </ng-container>

    
    <ng-container  matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button *ngIf="authService.user.role === 'ADMIN'" mat-button (click)="delete(element.id)" class="mat-accent">Delete</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
