<div class="page-body">
  <h2 class="mat-h2">New Rent</h2>
  <form [formGroup]="rentForm" novalidate>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="User" formControlName="user">
        <!--TODO: user dropdown from db to use User instead of String-->
        <mat-error *ngIf="user.hasError('required')">
          User is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Vehicle" formControlName="vehicle">
        <!--TODO: vehicle dropdown from db to use Vehicle instead of String-->
        <mat-error *ngIf="vehicle.hasError('required')">
          Vehicle is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Starting date" formControlName="startDate">
        <!--TODO: date selector-->
        <mat-error *ngIf="startDate.hasError('required')">
          Starting date is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-control">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="End date" formControlName="endDate">
        <!--TODO: date selector-->
      </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!rentForm.valid">Send</button>
    <a mat-button class="mat-accent" routerLink="/vehicles">Back</a>
  </form>
</div>
