<div class="page-body">
  <h2 class="mat-h2">New Rent</h2>
  <form [formGroup]="rentForm" novalidate>

     <div class="form-control">
        <mat-form-field class="example-full-width">
            <mat-select placeholder="Vehicle" formControlName="vehicle">
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle">
                  {{ vehicle.manufacturer }} {{ vehicle.type }} {{ vehicle.costPerDay }}$/Day
                </mat-option>
              </mat-select>
        </mat-form-field>
    </div>

    <div class="form-control">
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="minDatePicker" placeholder="Starting date" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="minDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #minDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
            <mat-error *ngIf="startDate.hasError('required')">
                Starting date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>

    <div class="form-control">
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="maxDatePicker" placeholder="End date" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="maxDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #maxDatePicker [touchUi]="touch" [disabled]="datepickerDisabled"></mat-datepicker>
            <mat-error *ngIf="endDate.hasError('required')">
                End date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
    </div>

    <button mat-raised-button class="mat-primary" (click)="submit()" [disabled]="!rentForm.valid">Send</button>
    <a mat-button class="mat-accent" routerLink="/vehicles">Back</a>
  </form>
</div>
